*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    font-family: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%;

    // scroll-behavior: smooth;
    // transition: all 2s;
    
    @include respond(port-land){ font-size: 50%; }

    @include respond(smallest){ font-size: 45%; }
    
    @include respond(phone){ font-size: 45%; }
}

body {
    box-sizing: border-box;
}

button{
    cursor: pointer;
    outline: none;
}

.red{color:$red !important;}
.blue{color:$color-primary !important;}
.green{color:$green !important;}
.yellow{color:$yellow !important;}
.white{color: white !important;}
.orange{color:$orange !important;}


.bg-red{background-color:$red !important;}
.bg-blue{background-color:$color-primary !important;}
.bg-green{background-color:$green !important;}
.bg-yellow{background-color:$yellow !important;}
.bg-white{background-color: white !important;}
.bg-orange{background-color:$orange !important;}