@charset "UTF-8";
.steps > li.is-active:before, .steps > li.is-active ~ li:before {
  content: counter(stepNum);
  font-weight: 700; }

.steps > li.is-active:after, .steps > li.is-active ~ li:after {
  background-color: #B2B2B2; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 30em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  overflow-x: hidden; }

button {
  cursor: pointer;
  outline: none; }

.red {
  color: #E43F6F !important; }

.blue {
  color: #239DEA !important; }

.green {
  color: #57CC99 !important; }

.yellow {
  color: yellow !important; }

.white {
  color: white !important; }

.orange {
  color: #E9BA20 !important; }

.bg-red {
  background-color: #E43F6F !important; }

.bg-blue {
  background-color: #239DEA !important; }

.bg-green {
  background-color: #57CC99 !important; }

.bg-yellow {
  background-color: yellow !important; }

.bg-white {
  background-color: white !important; }

.bg-orange {
  background-color: #E9BA20 !important; }

@font-face {
  font-family: Vazir;
  src: url("Vazir.eot");
  src: url("Vazir.eot?#iefix") format("embedded-opentype"), url("Vazir.woff") format("woff"), url("Vazir.ttf") format("truetype");
  font-weight: normal; }

body {
  line-height: 1.7;
  color: #969595;
  font-family: Vazir; }

a,
a:link,
a:visited {
  text-decoration: none;
  color: #707070; }

.bimsa {
  font-size: 3rem;
  font-weight: 700;
  color: #239DEA;
  padding-right: 1rem; }
  @media only screen and (max-width: 30em) {
    .bimsa {
      font-size: 2.5rem;
      padding-right: 0;
      color: #707070; } }

.heading-primary {
  font-size: 2.6rem;
  font-weight: 100;
  color: #239DEA;
  text-align: center; }
  @media only screen and (max-width: 30em) {
    .heading-primary {
      color: #707070; } }

.heading-scondary {
  font-size: 2.6rem;
  font-weight: 600;
  color: #707070; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 2.5rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-bottom-huge {
  margin-bottom: 10rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 2.5rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.u-margin-negative-top-big {
  margin-top: -15rem !important; }

.u-margin-negative-bottom-big {
  margin-bottom: -15rem !important; }

.footer {
  position: relative;
  background: #f7f7f7;
  top: 100%;
  z-index: 9999; }
  .footer__top-part {
    width: 100%;
    height: 20rem;
    background-image: url(../../assets/img/footer.png);
    background-size: cover;
    background-repeat: no-repeat; }
    @media only screen and (max-width: 63.75em) {
      .footer__top-part {
        background-position: center; } }
    @media only screen and (min-width: 112.5em) {
      .footer__top-part {
        height: 25rem; } }
    @media only screen and (max-width: 30em) {
      .footer__top-part {
        background-image: linear-gradient(#0081E6 0%, #0081E6 50%, #0090EA 50%);
        height: 5rem; }
        .footer__top-part::after {
          content: "بیمسا";
          font-size: 2.5rem;
          color: #fff;
          position: absolute;
          top: 5%; } }
  .footer__logo {
    height: 14rem;
    width: 12rem;
    position: absolute;
    top: 8%; }
    @media only screen and (max-width: 78.125em) {
      .footer__logo {
        top: 4%; } }
    @media only screen and (max-width: 56.25em) {
      .footer__logo {
        display: none; } }
  .footer__main-desktop {
    height: 44vh;
    width: 100%;
    background-color: #239DEA;
    width: 100%; }
    @media only screen and (max-width: 78.125em) {
      .footer__main-desktop {
        height: 35vh; } }
    @media only screen and (max-width: 30em) {
      .footer__main-desktop {
        display: none !important; } }
    @media only screen and (min-width: 112.5em) {
      .footer__main-desktop {
        height: 35vh; } }
  .footer__list {
    list-style-type: none;
    text-align: center;
    margin: -9rem 0; }
    @media only screen and (max-width: 30em) {
      .footer__list {
        margin: 0; } }
  .footer__item {
    padding: 1rem; }
  .footer__link, .footer__link:active, .footer__link:visited {
    text-decoration: none;
    color: #fff !important;
    font-size: 1.4rem;
    font-weight: 100; }
  .footer__main-mobile {
    display: none !important; }
    @media only screen and (max-width: 30em) {
      .footer__main-mobile {
        display: flex !important;
        height: 22vh;
        width: 100%;
        background-color: #239DEA;
        width: 100%; } }
  .footer__main-logo-photo {
    height: 12rem;
    width: 13rem;
    margin: 3rem 1rem; }
  .footer__main-logo-mobile-photo {
    height: 10rem;
    width: 11rem; }
  .footer__social-logo-box {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    margin: 0 1.5rem; }
  .footer__legal {
    height: 5rem;
    width: 100%;
    background-color: #F7D800;
    border-radius: 6rem 6rem 0 0;
    margin-top: -5rem;
    text-align: right; }
    .footer__legal-text {
      font-size: 1.6rem;
      font-weight: 100;
      color: #fff;
      padding: .7rem 10rem; }
      @media only screen and (max-width: 30em) {
        .footer__legal-text {
          margin: 0;
          padding: .6rem 4rem;
          font-size: 1.4rem; } }
    @media only screen and (max-width: 30em) {
      .footer__legal {
        margin: 0;
        background-color: #239DEA;
        border-radius: 0;
        border-top: 1px solid #fff; } }

.header {
  width: 100%;
  position: relative; }
  .header.homepage {
    height: 97vh;
    background-image: url(../../assets/img/ID625918.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; }
    @media only screen and (max-width: 30em) {
      .header.homepage {
        height: 87vh; } }
  .header__animation-logo {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    opacity: 0;
    animation: change-opacity 4s ease-in ,moveToTopRight 2s ease 4s; }
    @media only screen and (max-width: 30em) {
      .header__animation-logo {
        animation: none; } }
  .header__main {
    width: 60%;
    height: 45rem;
    position: relative;
    top: 5%;
    border-top: 5rem solid #239DEA;
    border-radius: 1.6rem 1.6rem 3.5rem 3.5rem;
    overflow: hidden;
    animation: increaseOpacity .9s ease-in-out 5s;
    animation-fill-mode: backwards; }
    @media only screen and (max-width: 78.125em) {
      .header__main {
        top: 15%; } }
    @media only screen and (max-width: 56.25em) {
      .header__main {
        height: 50rem; } }
    @media only screen and (min-width: 112.5em) {
      .header__main {
        top: 8%;
        height: 52rem; } }
    @media only screen and (max-width: 30em) {
      .header__main {
        width: 85%;
        top: 2%;
        height: 78%;
        animation: increaseHeight 2s ease; } }
  .header__item {
    width: 25%;
    padding: 2rem;
    background-color: rgba(246, 246, 246, 0.8);
    border: 1px solid #239DEA;
    transition: all .4s; }
    .header__item:hover {
      background-color: #f6f6f6; }
      .header__item:hover > * {
        transform: scale(1.2); }
    @media only screen and (max-width: 30em) {
      .header__item {
        width: 50%; } }
  .header__photo {
    height: 6rem;
    width: 7rem;
    transition: all .4s; }
    @media only screen and (min-width: 112.5em) {
      .header__photo {
        height: 7rem;
        width: 8rem; } }
  .header__text {
    font-size: 1.6rem;
    font-weight: 700;
    color: #239DEA;
    margin: 2.2rem 0;
    transition: all .6s;
    animation: moveToBottom 1.9s ease-in-out 5.3s;
    animation-fill-mode: backwards; }
    @media only screen and (max-width: 30em) {
      .header__text {
        animation: moveToBottom 1.9s ease-in-out;
        margin: 1rem; } }

.navigation-mobile {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  z-index: 99999;
  opacity: 0;
  visibility: hidden;
  transition: all .6s;
  display: none; }
  @media only screen and (max-width: 22.5em) {
    .navigation-mobile {
      display: inline; } }
  .navigation-mobile:target {
    opacity: 1;
    visibility: visible; }
  .navigation-mobile:target .navigation-mobile__content {
    visibility: visible;
    transform: translate(0); }
  .navigation-mobile__content {
    width: 85%;
    height: 100vh;
    transform: translate(100%, 0);
    background-color: #ffffff;
    visibility: hidden;
    transition: all .6s; }
  .navigation-mobile__header {
    height: 15rem;
    width: 100%;
    background-image: url(../../assets/img/blue.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative; }
  .navigation-mobile__login-btn {
    height: 6rem;
    width: 25rem;
    border: 1.5px solid #707070;
    border-radius: 1.5rem;
    position: absolute;
    top: 20%;
    left: 45%;
    transform: translate(-35%, -20%);
    font-size: 2.2rem;
    font-weight: 700;
    color: #707070; }
    @media only screen and (max-width: 22.5em) {
      .navigation-mobile__login-btn {
        height: 5rem;
        width: 20rem;
        top: 25%; } }
  .navigation-mobile__close {
    float: right;
    margin: 2rem;
    transition: all 1s; }
  .navigation-mobile__close:active .navigation-mobile__content {
    transform: translate(100%, 0); }
  .navigation-mobile__nav {
    width: 100%;
    direction: rtl;
    height: 90vh;
    overflow: scroll; }
    .navigation-mobile__nav::-webkit-scrollbar {
      width: 2rem; }
    .navigation-mobile__nav::-webkit-scrollbar-thumb {
      background: #F7D800;
      height: 70%;
      border-top-right-radius: 5rem;
      border-bottom-right-radius: 5rem; }
    @media only screen and (max-width: 22.5em) {
      .navigation-mobile__nav {
        margin-top: -5rem; } }
  .navigation-mobile__item {
    margin: 4rem 2.5rem;
    direction: ltr; }
  .navigation-mobile__icon {
    height: 5.5rem;
    width: 5.5rem; }
  .navigation-mobile__link {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: bold;
    color: #969595;
    padding-right: 2rem; }
  .navigation-mobile__separator {
    border-top: 2px solid #239DEA;
    width: 100%; }

.navigation {
  height: 7rem;
  width: 100%;
  background-color: #ffffff;
  padding: 1rem;
  border-bottom: 1rem solid #f2f2f2;
  color: #707070; }
  @media only screen and (max-width: 30em) {
    .navigation {
      height: 11rem;
      animation: none; } }
  .navigation.homenav {
    animation: increaseOpacity .9s ease-in-out 5.2s;
    animation-fill-mode: backwards; }
    .navigation.homenav .navigation__logo {
      animation: increaseOpacity .9s ease-in-out 5.5s;
      animation-fill-mode: backwards; }
      @media only screen and (max-width: 30em) {
        .navigation.homenav .navigation__logo {
          animation: increaseOpacity .9s ease-in-out; } }
  @media only screen and (max-width: 30em) {
    .navigation__main-logo {
      flex-direction: column !important; } }
  .navigation__logo {
    height: 5.5rem;
    width: 5.5rem; }
  .navigation__nav {
    flex: 0 0 45%; }
    @media only screen and (max-width: 30em) {
      .navigation__nav {
        display: none; } }
  .navigation__item {
    list-style: none;
    width: 13rem;
    height: 3.2rem;
    text-align: center;
    border-radius: 1rem;
    transition: all .6s; }
    .navigation__item:hover {
      background-color: #239DEA; }
  .navigation__item:hover .navigation__link {
    color: #ffffff; }
  .navigation__link {
    text-decoration: none;
    color: #707070;
    font-size: 1.6rem;
    font-weight: 700;
    transition: all .3s; }
  @media only screen and (max-width: 30em) {
    .navigation__user {
      display: none !important; } }
  .navigation__user-photo {
    height: 3rem;
    width: 2rem; }
    @media only screen and (max-width: 30em) {
      .navigation__user-photo {
        display: none; } }
  .navigation__text {
    font-size: 1.6rem;
    font-weight: 700;
    padding-right: 1rem;
    color: #707070; }
    @media only screen and (max-width: 30em) {
      .navigation__text {
        display: none; } }
  .navigation__hamberger-menu {
    display: none; }
    @media only screen and (max-width: 30em) {
      .navigation__hamberger-menu {
        display: inline; } }
  .navigation__menu-logo {
    height: 3.5rem;
    width: 3.5rem;
    display: none; }
    @media only screen and (max-width: 30em) {
      .navigation__menu-logo {
        display: inline; } }
  .navigation__headphone-logo {
    height: 3.5rem;
    width: 3.5rem;
    display: none; }
    @media only screen and (max-width: 30em) {
      .navigation__headphone-logo {
        display: inline; } }

.section {
  position: relative;
  background: #f7f7f7;
  height: auto;
  padding-bottom: 10rem;
  width: 100%; }
  @media only screen and (min-width: 112.5em) {
    .section {
      height: auto; } }
  @media only screen and (max-width: 30em) {
    .section {
      height: auto;
      background-color: #ffffff; } }
  .section__wave-background {
    height: 3rem;
    width: 100%;
    background-image: url(/assets/img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -2.8rem;
    position: absolute; }
  .section__center-elements {
    width: 100%; }
    .section__center-elements :not(:last-child) {
      margin-bottom: 2rem; }
    @media only screen and (max-width: 78.125em) {
      .section__center-elements {
        margin-top: -15rem; } }
    @media only screen and (max-width: 30em) {
      .section__center-elements {
        margin-top: 0; } }
  .section__link {
    margin-top: -15rem;
    left: 50%;
    transform: translate(-50%); }
    .section__link i {
      font-size: 2.5rem;
      color: #fdc500;
      border: 2px solid #fdc500;
      padding: 5px 1rem;
      border-radius: 100%; }
  .section__main {
    width: 60%;
    height: auto;
    border-radius: 4rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
    background-color: white;
    margin-top: -10rem;
    margin-bottom: 10rem;
    padding: 8rem 0;
    animation: moveinbottom 2s ease-in-out 4.5s;
    animation-fill-mode: backwards; }
    @media only screen and (min-width: 112.5em) {
      .section__main {
        height: auto; } }
    @media only screen and (max-width: 78.125em) {
      .section__main {
        height: 200vh; } }
    @media only screen and (max-width: 63.75em) {
      .section__main {
        height: 185vh; } }
    @media only screen and (max-width: 56.25em) {
      .section__main {
        height: 170vh; } }
    @media only screen and (max-width: 30em) {
      .section__main {
        width: 90%;
        border-radius: 0%;
        box-shadow: none;
        height: auto;
        animation: none;
        margin-top: 0; } }
  .section__result {
    width: 70%;
    margin-top: 10rem; }
    @media only screen and (max-width: 30em) {
      .section__result {
        flex-direction: column !important;
        width: 90%; } }

.bime-info {
  width: 60%;
  height: auto;
  border-radius: 4rem;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  background-color: white;
  margin-top: -7rem;
  z-index: 1;
  margin-bottom: 10rem; }
  @media only screen and (max-width: 30em) {
    .bime-info {
      width: 100%;
      margin: 0;
      padding-top: 2rem;
      box-shadow: none; } }
  .bime-info__link {
    position: absolute;
    margin-top: -7rem;
    left: 50%;
    transform: translate(-50%); }
    .bime-info__link i {
      font-size: 2.5rem;
      color: #fdc500;
      border: 2px solid #fdc500;
      padding: 5px 1rem;
      border-radius: 100%; }
  .bime-info__multipleTabs {
    width: 90%;
    margin-top: 2rem;
    background-color: #239DEA;
    padding: 1rem 5px;
    border-radius: 1.5rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); }
    .bime-info__multipleTabs a {
      cursor: pointer; }
  .bime-info__label {
    font-size: 1.8rem;
    color: white;
    width: 20rem;
    padding: 8px 0;
    border-radius: 1rem;
    text-align: center;
    transition: all .3s; }
  .bime-info__tabcontent {
    margin: 5rem 0;
    width: 90%;
    height: 80%;
    text-align: right;
    padding: 0 2.5rem;
    transition: all .3s; }
    .bime-info__tabcontent p {
      font-size: 1.6rem;
      color: #707070;
      margin-top: 1rem;
      direction: rtl;
      text-align: justify; }
      @media only screen and (max-width: 30em) {
        .bime-info__tabcontent p {
          font-size: 1.8rem; } }
  .bime-info__question {
    width: 95%;
    padding-bottom: 1rem;
    margin: 2rem 0;
    border-bottom: 2px solid #239DEA;
    position: relative;
    transition: all .7s; }
    .bime-info__question i {
      font-size: 3rem;
      background-color: white;
      color: #239DEA;
      border-radius: 100%;
      cursor: pointer;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .bime-info__question h2 {
      font-size: 2rem;
      font-weight: 600;
      color: #707070; }
    .bime-info__question span {
      display: inline-block;
      width: 40%;
      height: 5px;
      background-color: #F7D800;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .bime-info__question div {
      width: 100%;
      position: absolute;
      top: 100%;
      left: 50%;
      transform: translate(-50%, -100%); }
    .bime-info__question p {
      height: 0;
      overflow: hidden;
      transition: all .7s; }
  .bime-info__moshavere div {
    width: 50%;
    margin: 2rem 1rem; }
    @media only screen and (max-width: 30em) {
      .bime-info__moshavere div {
        width: 100%; } }
  @media only screen and (max-width: 30em) {
    .bime-info__moshavere div.photo {
      display: none; } }
  .bime-info__moshavere img {
    width: 100%;
    height: 100%; }
  .bime-info__moshavere input, .bime-info__moshavere textarea {
    padding: 1.5rem;
    border: 1px solid #239DEA;
    border-radius: 1rem;
    margin-bottom: 10px;
    width: 80%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 13px;
    text-align: right;
    margin: 1rem 0;
    outline: none;
    font-size: 1.6rem; }
    @media only screen and (max-width: 30em) {
      .bime-info__moshavere input, .bime-info__moshavere textarea {
        width: 95%; } }
  .bime-info__moshavere button {
    padding: 1.5rem;
    border: none;
    background-color: #239DEA;
    color: white;
    border-radius: 1rem;
    margin-bottom: 10px;
    width: 50%;
    text-align: center;
    margin: 1rem 0;
    outline: none;
    font-size: 1.8rem;
    cursor: pointer; }
  .bime-info__moshavere textarea {
    resize: none; }

.label-active {
  background-color: #F7D800; }

.show-answer {
  overflow: visible; }
  .show-answer p {
    overflow: visible;
    height: auto; }

.filter {
  width: 24%; }
  @media only screen and (max-width: 30em) {
    .filter {
      width: 100%;
      margin-bottom: 5rem; } }
  .filter__result-count {
    width: 100%;
    padding: 1.5rem;
    margin-bottom: 2rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(150, 149, 149, 0.5);
    font-size: 1.8rem; }
  .filter__main {
    width: 100%;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(150, 149, 149, 0.5); }
  .filter h3 {
    font-size: 1.6rem;
    color: rgba(35, 157, 234, 0.6);
    margin-top: 3rem; }
    @media only screen and (max-width: 30em) {
      .filter h3 {
        font-size: 2rem; } }
  .filter img {
    height: 10rem;
    width: 12rem; }
    @media only screen and (max-width: 30em) {
      .filter img {
        height: 12rem;
        width: 14rem; } }
  .filter p {
    font-size: 1.6rem;
    color: #239DEA; }
    @media only screen and (max-width: 30em) {
      .filter p {
        font-size: 1.8rem; } }
  .filter span {
    font-size: 1.4rem;
    color: #969595; }
    @media only screen and (max-width: 30em) {
      .filter span {
        font-size: 1.6rem; } }
  .filter__checkbox {
    margin-top: 5rem;
    width: 90%;
    margin: 2rem 0 8rem; }
    .filter__checkbox > div {
      margin-top: 3rem; }
    .filter__checkbox img {
      height: 7rem;
      width: 7rem;
      margin-left: 2.5rem; }
      @media only screen and (max-width: 30em) {
        .filter__checkbox img {
          width: 8rem;
          height: 8rem; } }
    .filter__checkbox p {
      color: #969595;
      font-size: 1.7rem; }
      @media only screen and (max-width: 30em) {
        .filter__checkbox p {
          font-size: 2rem; } }
    .filter__checkbox input[type="checkbox"] {
      visibility: hidden; }
    .filter__checkbox label div {
      width: 2rem;
      height: 2rem;
      border: 1px solid;
      border-radius: 100%;
      margin-left: 1rem; }
    .filter__checkbox input:checked ~ label > div {
      background-color: #0081E6; }

input[type="range"] {
  margin: 2rem auto;
  -webkit-appearance: none;
  position: relative;
  overflow: hidden;
  height: 2.3rem;
  width: 23rem;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 2rem;
  box-shadow: 0 0 5px rgba(247, 216, 0, 0.3); }

::-webkit-slider-runnable-track {
  background: rgba(247, 216, 0, 0.35); }

/*
 * 1. Set to 0 width and remove border for a slider without a thumb
 */
::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 4rem;
  height: 2.3rem;
  background: #fff;
  box-shadow: -100vw -20rem 0 100vw #F7D800;
  border: 2px solid #fdc500;
  border-radius: 2rem; }
  @media only screen and (max-width: 30em) {
    ::-webkit-slider-thumb {
      box-shadow: -100vw -10rem 0 100vw #F7D800; } }
  ::-webkit-slider-thumb::after {
    content: "";
    font-size: 3rem; }

::-moz-range-track {
  height: 40px;
  background: #ddd; }

::-moz-range-thumb {
  background: #fff;
  height: 40px;
  width: 20px;
  border: 3px solid #999;
  border-radius: 0 !important;
  box-shadow: -100vw 0 0 100vw dodgerblue;
  box-sizing: border-box; }

::-ms-fill-lower {
  background: rgba(247, 216, 0, 0.35); }

::-ms-thumb {
  background: #fff;
  border: 2px solid #999;
  height: 40px;
  width: 20px;
  box-sizing: border-box; }

::-ms-ticks-after {
  display: none; }

::-ms-ticks-before {
  display: none; }

::-ms-track {
  background: #ddd;
  color: transparent;
  height: 40px;
  border: none; }

::-ms-tooltip {
  display: none; }

.fixed-circle {
  background-color: #f7f7f7;
  width: 11rem;
  height: 11rem;
  top: 40%;
  position: fixed;
  border: 2px dashed #239DEA;
  border-radius: 50%;
  shape-outside: circle(50%);
  z-index: 1000; }
  .fixed-circle.home {
    animation: increaseOpacity .9s ease-in-out 5s;
    animation-fill-mode: backwards; }
  @media only screen and (max-width: 30em) {
    .fixed-circle {
      display: none !important; } }
  .fixed-circle--left {
    left: 5%; }
  .fixed-circle--right {
    left: 90%; }
  .fixed-circle__extension-photo {
    height: 6rem;
    width: 6rem; }
  .fixed-circle__extension-text {
    font-size: 1.6rem;
    color: #239DEA;
    margin-top: -1rem; }
  .fixed-circle__coverstion-photo {
    height: 5rem;
    width: 5rem; }
  .fixed-circle__coverstion-text {
    font-size: 1.6rem;
    color: #239DEA;
    margin-top: -0.4rem; }

.form-specs {
  width: 60%;
  height: 56rem;
  border-radius: 4rem;
  background-color: rgba(183, 183, 183, 0.7);
  position: relative;
  top: 8%;
  overflow: hidden; }
  @media only screen and (max-width: 30em) {
    .form-specs {
      width: 95%;
      height: 60rem; }
      .form-specs > div {
        flex-direction: column-reverse;
        height: 55rem !important; } }
  .form-specs h2 {
    width: 100%;
    font-size: 2rem;
    font-weight: 100;
    color: white;
    text-align: center;
    background-color: rgba(35, 157, 234, 0.7);
    padding: 1.5rem; }
  .form-specs__schematic {
    height: 42rem;
    width: 25%;
    background-color: white;
    border-radius: 2rem;
    box-shadow: 0 0 5px #969595;
    margin-left: 2rem; }
    @media only screen and (max-width: 30em) {
      .form-specs__schematic {
        background-color: transparent;
        margin-bottom: 5rem; } }
    .form-specs__schematic img {
      width: 60%;
      height: 30rem;
      margin: 0%; }
      @media only screen and (max-width: 30em) {
        .form-specs__schematic img {
          display: none; } }
    .form-specs__schematic span {
      font-size: 1.7rem;
      color: #239DEA; }
      @media only screen and (max-width: 30em) {
        .form-specs__schematic span {
          display: none; } }
    .form-specs__schematic a {
      text-decoration: none;
      color: white;
      font-size: 1.4rem;
      background-color: #239DEA;
      padding: 0 1.7rem;
      cursor: pointer; }
      @media only screen and (max-width: 30em) {
        .form-specs__schematic a {
          padding: 0 3rem; } }
      .form-specs__schematic a i {
        font-size: 2rem;
        margin: 1rem; }
  .form-specs__left-link {
    border-radius: 1.7rem 0 0 1.7rem;
    margin-right: 1px; }
  .form-specs__right-link {
    border-radius: 0 1.7rem 1.7rem 0;
    margin-left: 1px; }
  .form-specs__content {
    width: 65%;
    position: relative;
    margin-right: 2rem; }
    @media only screen and (max-width: 30em) {
      .form-specs__content {
        width: 100%;
        margin: 2rem; } }
  .form-specs__tabs {
    width: 30%;
    margin-left: 2rem;
    height: 42rem; }
    @media only screen and (max-width: 30em) {
      .form-specs__tabs {
        width: 50%; } }
    .form-specs__tabs label {
      font-size: 1.4rem;
      color: white;
      margin-right: 1rem; }
  .form-specs__brands {
    width: 60%;
    height: 42rem;
    border-radius: 3rem;
    border: 1px solid #239DEA;
    overflow: hidden;
    background-color: white; }
    @media only screen and (max-width: 30em) {
      .form-specs__brands {
        width: 40%; } }
  .form-specs__brands-list {
    height: 44rem;
    margin: -1px;
    overflow: scroll; }
    .form-specs__brands-list::-webkit-scrollbar-track {
      border-radius: 10px;
      position: absolute; }
    .form-specs__brands-list::-webkit-scrollbar {
      width: 6px; }
    .form-specs__brands-list::-webkit-scrollbar-thumb {
      border-radius: 10px;
      background-color: #F7D800; }
  .form-specs__brands-item {
    width: 25%;
    height: 14rem;
    border: 1px solid #239DEA;
    transition: all .4s ease; }
    @media only screen and (max-width: 30em) {
      .form-specs__brands-item {
        width: 100%; } }
    .form-specs__brands-item:hover {
      background-color: rgba(35, 157, 234, 0.3); }
      .form-specs__brands-item:hover img {
        width: 6rem;
        height: 6rem; }
    .form-specs__brands-item img {
      width: 4rem;
      height: 4rem;
      transition: all .4s ease; }
    .form-specs__brands-item span {
      font-size: 1.5rem;
      margin-top: 1.5rem;
      color: #707070; }
  .form-specs__checkbox span {
    font-size: 1.4rem;
    color: white;
    margin: 0 1rem; }
  .form-specs__checkbox input[type="checkbox"] {
    position: absolute;
    visibility: hidden; }
  .form-specs__checkbox label {
    position: relative;
    display: block;
    width: 6rem;
    height: 3.6rem;
    border-radius: 3rem;
    margin: 0 auto;
    background-color: #fff;
    cursor: pointer;
    -webkit-user-select: none;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    box-shadow: 0 0 3px #969595; }
  .form-specs__checkbox label:before {
    content: ' ';
    position: absolute;
    top: 1.5px;
    left: 3px;
    width: 3.2rem;
    height: 3.2rem;
    background-color: rgba(35, 157, 234, 0.8);
    border-radius: 50%;
    border: 1px solid #239DEA;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .form-specs__checkbox input:checked + label {
    background-color: #239DEA; }
  .form-specs__checkbox input:checked + label:before {
    left: 2.5rem;
    background-color: #fff; }
  .form-specs__inputs {
    margin-top: 2rem;
    padding: 0 5rem;
    width: 100%; }
    .form-specs__inputs label {
      font-size: 1.5rem;
      font-weight: 700;
      color: #239DEA;
      margin-right: 1rem; }
      @media only screen and (max-width: 30em) {
        .form-specs__inputs label {
          margin-bottom: 5px; } }
    @media only screen and (max-width: 30em) {
      .form-specs__inputs div {
        margin-bottom: 2rem; } }
  .form-specs.result-page {
    width: 70%;
    background-color: white !important;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    height: 23rem;
    border-radius: 3rem; }
    @media only screen and (max-width: 30em) {
      .form-specs.result-page {
        width: 90%;
        height: auto; } }

.active {
  background-color: #239DEA; }

.flex {
  display: flex; }

.r-reverse {
  flex-direction: row-reverse; }

.column {
  flex-direction: column; }

.column-reverse {
  flex-direction: column-reverse; }

.justi-start {
  justify-content: flex-start; }

.justi-center {
  justify-content: center; }

.justi-end {
  justify-content: flex-end; }

.justi-around {
  justify-content: space-around; }

.justi-between {
  justify-content: space-between; }

.align-start {
  align-items: flex-start; }

.align-center {
  align-items: center; }

.align-end {
  align-items: flex-end; }

.align-stretch {
  align-items: stretch; }

.align-baseline {
  align-items: baseline; }

.align-content-center {
  align-content: center; }

.align-content-around {
  align-content: space-around; }

.wrap {
  flex-wrap: wrap; }

.orbit {
  border-radius: 70%;
  width: 80rem;
  height: 25rem;
  border: 3px solid #239DEA;
  position: relative;
  transition: all 2s; }
  @media only screen and (max-width: 78.125em) {
    .orbit {
      width: 65rem; } }
  @media only screen and (max-width: 63.75em) {
    .orbit {
      width: 55rem; } }
  @media only screen and (max-width: 56.25em) {
    .orbit {
      width: 45rem; } }
  @media only screen and (max-width: 30em) {
    .orbit {
      position: absolute;
      top: 5%;
      right: 62%;
      width: 55rem;
      height: 50rem; } }
  @media only screen and (max-width: 22.5em) {
    .orbit {
      position: absolute;
      top: 15%;
      right: 58%;
      width: 45rem;
      height: 45rem; } }
  .orbit__logo {
    height: 7rem;
    width: 7rem;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100; }
    @media only screen and (max-width: 30em) {
      .orbit__logo {
        display: none; } }
  .orbit__circle {
    background-color: #f7f7f7;
    border-radius: 50%;
    position: absolute;
    transition: all 1s; }
    .orbit__circle--1 {
      width: 14rem;
      height: 14rem;
      top: 45%;
      left: 50%;
      transform: translate(-50%, 50%); }
      .orbit__circle--1 img {
        width: 11rem;
        height: 11rem;
        transition: all 1s; }
      @media only screen and (max-width: 30em) {
        .orbit__circle--1 {
          width: 15rem;
          height: 15rem;
          top: 20%;
          left: 98%; } }
    .orbit__circle--2 {
      width: 10rem;
      height: 10rem;
      top: 43%;
      left: 13%;
      transform: translate(-15%, 55%); }
      .orbit__circle--2 img {
        width: 7rem;
        height: 7rem;
        transition: all 1s; }
      @media only screen and (max-width: 30em) {
        .orbit__circle--2 {
          width: 11rem;
          height: 11rem;
          top: 69%;
          left: 72%; } }
    .orbit__circle--3 {
      width: 9rem;
      height: 9rem;
      top: -5%;
      left: 6%;
      transform: translate(-50%, 50%); }
      .orbit__circle--3 img {
        width: 6.5rem;
        height: 6.5rem;
        transition: all 1s; }
      @media only screen and (max-width: 30em) {
        .orbit__circle--3 {
          width: 9rem;
          height: 9rem;
          top: -19%;
          left: 52%; } }
    .orbit__circle--4 {
      width: 6.5rem;
      height: 6.5rem;
      left: 30%;
      transform: translate(-50%, -35%); }
      .orbit__circle--4 img {
        width: 4.5rem;
        height: 4.5rem;
        transition: all 1s; }
      @media only screen and (max-width: 30em) {
        .orbit__circle--4 {
          width: 11rem;
          height: 11rem;
          top: 88%;
          left: 23%; } }
    .orbit__circle--5 {
      width: 5rem;
      height: 5rem;
      left: 52%;
      transform: translate(-50%, -58%); }
      .orbit__circle--5 img {
        width: 3.5rem;
        height: 3.5rem;
        transition: all 1s; }
      @media only screen and (max-width: 30em) {
        .orbit__circle--5 {
          width: 15rem;
          height: 15rem;
          top: 50%;
          left: 0%; } }
    .orbit__circle--6 {
      width: 6.5rem;
      height: 6.5rem;
      left: 65%;
      transform: translate(50%, -33%); }
      .orbit__circle--6 img {
        width: 4.5rem;
        height: 4.5rem;
        transition: all 1s; }
      @media only screen and (max-width: 30em) {
        .orbit__circle--6 {
          width: 11rem;
          height: 11rem;
          top: 5%;
          left: 0%; } }
    .orbit__circle--7 {
      width: 9rem;
      height: 9rem;
      top: -3%;
      left: 95%;
      transform: translate(-50%, 50%); }
      .orbit__circle--7 img {
        width: 6.5rem;
        height: 6.5rem;
        transition: all 1s; }
      @media only screen and (max-width: 30em) {
        .orbit__circle--7 {
          width: 9rem;
          height: 9rem;
          top: 80%;
          left: 52%; } }
    .orbit__circle--8 {
      width: 10rem;
      height: 10rem;
      top: 43%;
      left: 79%;
      transform: translate(-15%, 55%); }
      .orbit__circle--8 img {
        width: 7rem;
        height: 7rem;
        transition: all 1s; }
      @media only screen and (max-width: 30em) {
        .orbit__circle--8 {
          width: 11rem;
          height: 11rem;
          top: -15%;
          left: 72%; } }
  .orbit__container-small {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15rem;
    height: 6.5rem;
    border: 2px solid #239DEA;
    border-radius: 50%; }
    @media only screen and (max-width: 30em) {
      .orbit__container-small {
        width: 15rem;
        height: 13rem; } }
  .orbit__circle-small {
    width: 1.7rem;
    height: 1.7rem;
    background-color: #fdc500;
    border-radius: 50%;
    position: absolute;
    transition: all .8s; }
    .orbit__circle-small--1 {
      top: -5%;
      left: 15%; }
      @media only screen and (max-width: 30em) {
        .orbit__circle-small--1 {
          top: 0;
          left: 72%; } }
    .orbit__circle-small--2 {
      top: 78%;
      left: 20%; }
      @media only screen and (max-width: 30em) {
        .orbit__circle-small--2 {
          top: 90%;
          left: 60%; } }
    .orbit__circle-small--3 {
      top: 50%;
      left: 90%; }
      @media only screen and (max-width: 30em) {
        .orbit__circle-small--3 {
          top: 50%;
          left: 95%; } }
  .orbit__half-circle {
    width: 4rem;
    height: 8.5rem;
    position: absolute;
    transform: translate(-50%, 50%);
    background-color: transparent;
    border: 2px solid gray;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    z-index: 9999; }
    @media only screen and (max-width: 30em) {
      .orbit__half-circle {
        display: none; } }
    .orbit__half-circle--right {
      top: 65%;
      left: 62%;
      border-bottom-right-radius: 100px;
      border-top-right-radius: 100px;
      border-left: 0; }
    .orbit__half-circle--left {
      top: 65%;
      left: 38%;
      border-bottom-left-radius: 100px;
      border-top-left-radius: 100px;
      border-right: 0; }
  .orbit__half-circle-btn {
    width: 3rem;
    height: 3rem;
    position: absolute;
    border-radius: 50%;
    border: none;
    outline: none; }
    .orbit__half-circle-btn--right {
      left: 60%;
      top: 30%;
      background-image: url(../../assets/img/right.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
      .orbit__half-circle-btn--right:hover {
        cursor: pointer;
        background-image: linear-gradient(rgba(253, 197, 0, 0.6), rgba(253, 197, 0, 0.6)), url(../../assets/img/right.png); }
    .orbit__half-circle-btn--left {
      left: -37%;
      top: 30%;
      background-image: url(../../assets/img/left.png);
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat; }
      .orbit__half-circle-btn--left:hover {
        cursor: pointer;
        background-image: linear-gradient(rgba(253, 197, 0, 0.6), rgba(253, 197, 0, 0.6)), url(../../assets/img/left.png); }

.personal-card {
  padding: 2rem 5rem;
  width: 100%;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 0 5px rgba(150, 149, 149, 0.5);
  margin-bottom: 3rem;
  color: #707070; }
  @media only screen and (max-width: 30em) {
    .personal-card {
      padding: 3rem 1rem; } }
  .personal-card__main {
    width: 100%; }
    @media only screen and (max-width: 30em) {
      .personal-card__main {
        flex-direction: column !important; } }
  @media only screen and (max-width: 30em) {
    .personal-card div.mobile-row {
      width: 100%;
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: wrap;
      margin: 2rem 1rem; }
      .personal-card div.mobile-row p {
        width: 40%; } }
  .personal-card i {
    font-size: 1.8rem;
    color: #F7D800; }
    @media only screen and (max-width: 30em) {
      .personal-card i {
        font-size: 2.2rem; } }
  .personal-card img {
    height: 14rem;
    width: 14rem; }
  .personal-card h3 {
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 1rem; }
    @media only screen and (max-width: 30em) {
      .personal-card h3 {
        font-size: 1.8rem; } }
  .personal-card p {
    font-size: 1.8rem;
    margin: 1rem; }
    .personal-card p i {
      color: #969595;
      margin-left: 1.5rem; }
      @media only screen and (max-width: 30em) {
        .personal-card p i {
          margin-left: 8px;
          font-size: 1.8rem; } }
    .personal-card p span {
      color: red;
      margin-right: 1rem; }
  .personal-card span {
    font-size: 1.8rem; }
  .personal-card button.btn {
    width: 16rem;
    height: 6rem;
    border-radius: 1rem;
    border: none;
    outline: none;
    margin-top: 1rem;
    font-size: 1.6rem;
    color: white; }
    @media only screen and (max-width: 30em) {
      .personal-card button.btn {
        font-size: 1.8rem; } }
  .personal-card button {
    background-color: transparent;
    border: none;
    outline: none;
    color: #F7D800;
    font-size: 1.6rem; }
    @media only screen and (max-width: 30em) {
      .personal-card button {
        margin-top: 2rem; } }
    .personal-card button i {
      margin-right: 1rem; }
    .personal-card button::after {
      display: none; }
  .personal-card div.buttons {
    transition: all .4s ease; }
  .personal-card div.info, .personal-card div.aghsat {
    height: 0;
    overflow: hidden;
    transition: all .4s ease; }
  .personal-card div.info {
    width: 100%; }
  .personal-card div.aghsat {
    width: 80%; }
    @media only screen and (max-width: 30em) {
      .personal-card div.aghsat {
        width: 100%; } }
  .personal-card div.container {
    overflow: hidden;
    border-radius: 2rem;
    background-color: white;
    box-shadow: 0 0 5px rgba(150, 149, 149, 0.5);
    margin: 1rem 2rem;
    transition: all .4s ease; }
    @media only screen and (max-width: 30em) {
      .personal-card div.container {
        width: 43%;
        margin: 1rem; } }
    .personal-card div.container span {
      color: red;
      font-size: 1.5rem; }
    .personal-card div.container p {
      font-size: 1.5rem; }

.show-info div.info {
  height: 13rem;
  margin: 2rem 0; }
  @media only screen and (max-width: 30em) {
    .show-info div.info {
      flex-direction: column;
      align-items: flex-end;
      margin-right: 4rem;
      height: 52rem; } }

.show-info div.buttons {
  position: relative;
  transform: translateY(50%); }
  @media only screen and (max-width: 30em) {
    .show-info div.buttons {
      transform: translateY(0); } }

.show-info button.more-info {
  visibility: hidden; }
  .show-info button.more-info::after {
    content: "بستن";
    visibility: visible;
    display: block;
    position: relative;
    left: -40%; }
    @media only screen and (max-width: 30em) {
      .show-info button.more-info::after {
        font-size: 1.8rem; } }

.show-aghsat div.aghsat {
  height: 15rem;
  margin: 2rem 0; }
  @media only screen and (max-width: 30em) {
    .show-aghsat div.aghsat {
      height: 30rem; } }

.show-aghsat div.buttons {
  position: relative; }

.result {
  width: 74%; }
  @media only screen and (max-width: 30em) {
    .result {
      width: 100%; } }
  .result__filter {
    width: 100%;
    padding: .7rem;
    margin-bottom: 2rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 0 5px rgba(150, 149, 149, 0.5); }
    .result__filter a,
    .result__filter a:link,
    .result__filter a:visited {
      color: #969595;
      font-size: 1.8rem;
      margin-left: 5rem;
      padding: 1rem;
      border-radius: 8px;
      transition: all .3s ease; }
      @media only screen and (max-width: 30em) {
        .result__filter a,
        .result__filter a:link,
        .result__filter a:visited {
          margin-left: 5px; } }
    .result__filter a:hover,
    .result__filter a.active {
      background-color: rgba(35, 157, 234, 0.8);
      color: white; }
      .result__filter a:hover i,
      .result__filter a.active i {
        color: white; }
    .result__filter i {
      color: #239DEA;
      margin-right: 1rem;
      font-size: 2.2rem;
      transition: all .3s ease; }

.feature {
  width: 100%; }
  .feature__main {
    width: 100%; }
  @media only screen and (max-width: 30em) {
    .feature__box {
      width: 50%; } }
  .feature__photo {
    height: 14rem;
    width: 14rem; }
  .feature__text {
    font-size: 1.6rem;
    font-weight: 500;
    color: #707070; }

.reminder {
  width: 100%; }
  .reminder__border-top {
    background-image: url(../../assets/img/circle.png);
    height: 3.5rem;
    width: 85%;
    background-size: cover; }
    @media only screen and (max-width: 30em) {
      .reminder__border-top {
        height: 2.5rem; } }
  .reminder__main {
    width: 85%;
    margin-top: -2rem;
    box-shadow: 0 1.6rem 4rem rgba(0, 0, 0, 0.04); }
    @media only screen and (max-width: 30em) {
      .reminder__main {
        box-shadow: none;
        background-color: #f7f7f7; } }
  .reminder__box {
    width: 30%;
    padding: 1.5rem 0; }
    @media only screen and (max-width: 30em) {
      .reminder__box {
        width: 90%; } }
  .reminder__input {
    width: 100%;
    height: 5rem;
    border: 1px solid #239DEA;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    text-align: right;
    font-size: 1.6rem;
    padding-right: 2rem;
    outline: none; }
    .reminder__input::placeholder {
      font-size: 1.4rem;
      font-weight: 700; }
  .reminder__label {
    font-size: 1.5rem;
    font-weight: 700;
    color: #239DEA;
    margin-right: 2rem; }
    @media only screen and (max-width: 30em) {
      .reminder__label {
        display: none; } }
  .reminder__btn {
    border-radius: 1rem;
    border: none;
    color: #fff;
    width: 25rem;
    height: 5rem;
    font-size: 2rem;
    font-weight: 700;
    background-color: #239DEA; }

.teammate {
  width: 100%;
  position: relative;
  margin-top: 2rem; }
  @media only screen and (max-width: 30em) {
    .teammate {
      align-items: flex-end;
      justify-content: center; } }
  @media only screen and (max-width: 30em) {
    .teammate__heading {
      font-size: 3.5rem;
      margin-right: 3rem;
      margin-bottom: 5rem !important;
      color: #239DEA; } }
  .teammate__main {
    width: 100%; }
    @media only screen and (max-width: 30em) {
      .teammate__main {
        margin: 0 !important; } }
    @media only screen and (max-width: 22.5em) {
      .teammate__main {
        margin: 0 !important; } }
  .teammate__introduction {
    width: 80%;
    height: 18rem;
    background-color: rgba(150, 149, 149, 0.2);
    border-radius: 2rem; }
    @media only screen and (max-width: 30em) {
      .teammate__introduction {
        margin-right: 1rem;
        width: 45%;
        height: 50rem;
        background-color: transparent; } }
  .teammate__text {
    font-size: 1.3rem;
    font-weight: 500;
    color: #707070;
    direction: rtl;
    text-align: justify;
    padding: 1rem 2rem; }
    @media only screen and (max-width: 30em) {
      .teammate__text {
        font-size: 1.7rem; } }
    @media only screen and (max-width: 22.5em) {
      .teammate__text {
        font-size: 1.5rem; } }
  .teammate__btn {
    border-radius: 1rem;
    border: none;
    color: #fff;
    width: 13rem;
    height: 3rem;
    font-size: 1.3rem;
    font-weight: 100;
    background-color: rgba(35, 157, 234, 0.55);
    transition: all .3s; }
    .teammate__btn:hover {
      background-color: #239DEA; }
    @media only screen and (max-width: 30em) {
      .teammate__btn {
        width: 20rem;
        height: 6rem;
        font-size: 2.2rem; } }
    @media only screen and (max-width: 22.5em) {
      .teammate__btn {
        width: 18rem;
        height: 4rem; } }

.container {
  margin: 0 auto;
  width: 98%;
  background-color: white;
  border-radius: 1rem; }
  .container .select2 {
    width: 100% !important;
    direction: rtl !important;
    height: 5rem;
    border: 1px solid #239DEA;
    border-radius: 1rem;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
    outline: none;
    padding: 0 5px;
    color: #239DEA;
    font-size: 1.5rem;
    font-weight: 700; }
    @media only screen and (max-width: 30em) {
      .container .select2 {
        font-size: 2rem;
        height: 6rem; } }
  .container .select2-selection__choice {
    float: right; }
  .container .select2-container .select2-selection--single {
    height: 100%;
    position: relative;
    outline: none;
    border: none; }
    .container .select2-container .select2-selection--single .select2-selection__rendered {
      padding: 1rem; }
    .container .select2-container .select2-selection--single .select2-selection__arrow {
      top: 50%;
      right: 82%;
      transform: translate(-82%, -50%); }
    .container .select2-container .select2-selection--single .select2-container--default .select2-results > .select2-results__options {
      -webkit-overflow-scrolling: touch; }

.select2-results {
  direction: rtl; }

.select2-results__option {
  cursor: pointer;
  font-size: 1.4rem;
  padding: 1rem; }
  @media only screen and (max-width: 30em) {
    .select2-results__option {
      font-size: 1.8rem; } }
  .select2-results__option:hover {
    background-color: #239DEA;
    color: white; }

.steps {
  display: table;
  table-layout: fixed;
  width: 100%;
  position: relative;
  direction: rtl;
  z-index: 9;
  margin-top: -1.5rem; }
  @media only screen and (max-width: 30em) {
    .steps {
      margin-top: -2rem; } }
  .steps > li {
    counter-increment: stepNum;
    text-align: center;
    display: table-cell;
    position: relative;
    color: #F7D800;
    font-size: 1.3rem; }
    .steps > li i {
      font-size: 1.7rem;
      margin-left: 8px; }
    .steps > li:before {
      content: counter(stepNum);
      display: block;
      margin: 0 auto 4px;
      background-color: #F7D800;
      color: white;
      width: 4rem;
      height: 4rem;
      font-size: 1.8rem;
      line-height: 3.8rem;
      text-align: center;
      font-weight: bold;
      border: 2px solid #F7D800;
      border-radius: 50%; }
    .steps > li:after {
      content: '';
      height: 2px;
      width: 100%;
      background-color: #F7D800;
      position: absolute;
      top: 16px;
      left: -50%;
      z-index: -1; }
    .steps > li:last-child:after {
      display: none; }
    .steps > li.is-active:before {
      background-color: #F7D800;
      border-color: #F7D800; }
    .steps > li.is-active ~ li {
      color: #808080; }
      .steps > li.is-active ~ li:before {
        background-color: #969595;
        border-color: #969595; }
